@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Kuunari;
  src: url(../fonts/Mika\ Melvas\ -\ Kuunari\ Black\ Italic.otf);
  font-weight: 800;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a,
button {
  transition: all ease-in-out 0.3s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

.sp-tb {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sp-t {
  padding-top: 60px;
}

.sp-b {
  padding-bottom: 60px;
}

.sp-tb-2 {
  padding-top: 80px;
  padding-bottom: 80px;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
a:hover {
  color: #edfa13;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  line-height: 24px;
  color: #666666;
}

header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.fixed-nav {
  padding: 15px 0;
  position: fixed;
  background-color: #151515;
  animation: slideDown 0.3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.nav-link {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  position: relative;
  padding: 6px 0;
}
.nav-link:hover, .nav-link:focus {
  color: #fff;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 20px;
}
.navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-nav .nav-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #edfa13;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-toggle::after {
  content: "\f078";
  font-family: "Font Awesome 6 Pro";
  font-size: 12px;
  border: none;
}

.nav-right .icon-links li + li {
  margin-left: 25px;
}
.nav-right .icon-links a {
  position: relative;
}
.nav-right .icon-links a span.numbers {
  width: 18px;
  height: 18px;
  background-color: #edfa13;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0f0f;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -12px;
}

.hamburger-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  margin-left: 40px;
}
.hamburger-btn svg {
  width: 22px;
}

.primary-btn {
  padding: 8px 35px;
  background-color: #edfa13;
  color: #0f0f0f;
  text-transform: capitalize;
  transform: skewX(-8deg);
  position: relative;
  z-index: 1;
  margin-right: 10px;
  margin-top: 40px;
  font-weight: 500;
  transition: all ease-in-out 0.1s;
}
.primary-btn span {
  transform: skewX(8deg);
  display: inline-block;
}
.primary-btn:hover {
  color: #0f0f0f;
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: skewX(-8deg) translateY(-2px);
}
.primary-btn::focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.primary-btn::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background-color: transparent;
  border-right: 5px solid #edfa13;
  position: absolute;
  top: 0;
  right: -10px;
  transition: all ease-in-out 0.3s;
  z-index: -1;
}

h1,
.common-head {
  color: #edfa13;
  font-size: 65px;
  line-height: 70px;
  font-family: "Kuunari", sans-serif;
}
h1 small,
.common-head small {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  line-height: 27px;
  font-weight: 700;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
}
h1 small::before, h1 small::after,
.common-head small::before,
.common-head small::after {
  content: "";
  width: 35px;
  height: 3px;
  background-color: #fff;
}

.common-head.ch-dark {
  color: #0f0f0f;
}
.common-head.ch-dark small {
  color: #0f0f0f;
}
.common-head.ch-dark small::before, .common-head.ch-dark small::after {
  background-color: #0f0f0f;
}

.banner-sec {
  background: url(../images/banner-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 180px 0 140px 0;
  position: relative;
}
.banner-sec .banner-shape {
  position: absolute;
  bottom: -5px;
  left: 0;
}
.banner-sec .banner-content {
  position: relative;
  z-index: 1;
}
.banner-sec .banner-content p {
  color: #fff;
  margin-top: 20px;
}
.banner-sec .banner-content .primary-btn {
  margin-top: 30px;
}

.about-content img:hover {
  transform: scale(1.06);
}
.about-content p {
  margin-top: 25px;
}
.about-content .primary-btn {
  margin-top: 30px;
}

.dark-bg {
  background-color: #151515;
}

img {
  transition: all ease-in-out 0.3s;
}

.category-item {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.category-item:hover img {
  transform: scale(1.06);
}
.category-item h3 {
  font-size: 38px;
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
}
.category-item .icon {
  padding: 13px 16px;
  color: #0f0f0f;
  border-radius: 50%;
  background-color: #edfa13;
  font-size: 24px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.small-head {
  font-size: 18px;
  font-weight: 600;
  color: #0f0f0f;
  margin: 10px 0;
}

.product-item {
  margin-top: 40px;
  text-align: center;
  padding: 25px 20px;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  position: relative;
}
.product-item .quick-links {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.product-item .quick-links a {
  color: #666666;
  margin-top: 10px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
}
.product-item .quick-links a:hover {
  background-color: #0f0f0f;
  color: #fff;
}
.product-item:hover .quick-links {
  top: 10px;
  opacity: 1;
}

.wishlist-active {
  position: relative;
}
.wishlist-active::after {
  content: "\f004";
  color: #0f0f0f;
  font-size: 17px;
  font-weight: 900;
  font-family: "Font Awesome 6 Pro";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wishlist-active:hover::after {
  color: #fff;
}

.price {
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  color: #0f0f0f;
}
.price span {
  color: #666666;
  text-decoration: line-through;
  margin-right: 5px;
}

.icons-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.secondary-btn {
  padding: 12px 30px;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  color: #0f0f0f;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}
.secondary-btn:hover {
  color: #0f0f0f;
}
.secondary-btn:hover::before {
  top: -40%;
}
.secondary-btn::before {
  content: "";
  position: absolute;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  width: 200%;
  height: 200%;
  top: 110%;
  left: 50%;
  background: #edfa13;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.add-cart-btn {
  padding: 13px 15px;
  background-color: #151515;
  border-radius: 50%;
}
.add-cart-btn:hover {
  background-color: rgba(42, 42, 42, 0.8352941176);
}
.add-cart-btn img {
  width: 20px;
}

.features-item {
  margin-top: 60px;
}
.features-item .feature-icon {
  width: 84px;
  height: 84px;
  background-color: #edfa13;
  padding: 17px;
  border-radius: 50%;
}
.features-item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 20px 0 10px 0;
  text-transform: capitalize;
}
.features-item p {
  color: #cdcdc4;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -44px;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: transparent;
}

.owl-carousel .owl-nav button.owl-next {
  right: -44px;
  left: unset;
}

.timer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}
.timer-wrap span {
  padding: 16px 17.6px;
  border-radius: 50%;
  background-color: #0f0f0f;
  color: #edfa13;
  font-size: 26px;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
}
.timer-wrap span + span::before {
  content: ":";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -17px;
  color: #0f0f0f;
  font-size: 44px;
  font-family: "Bebas Neue", sans-serif;
}

.commitment-item {
  position: relative;
  margin-top: 40px;
  border: 2px dashed #484848;
  border-radius: 50%;
  padding: 15px;
  background-color: #151515;
  margin-left: -30px;
  margin-right: -30px;
  width: 33%;
}
.commitment-item:not(:nth-child(2)) {
  width: calc(33% - 70px);
}
.commitment-item .img-wrap {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.commitment-item .img-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.commitment-item:nth-child(2) {
  position: relative;
  z-index: 11;
}
.commitment-item:nth-child(2) .img-wrap::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.commitment-item .commitment-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}
.commitment-item .commitment-content span {
  font-size: 56px;
  line-height: 68px;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  margin-bottom: 6px;
}
.commitment-item .commitment-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #edfa13;
}

.accordion-item {
  border-radius: 20px !important;
  overflow: hidden;
  border: none;
  box-shadow: 0 4px 22px 12px rgba(219, 219, 219, 0.25);
}
.accordion-item .accordion-button {
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
  color: #0f0f0f;
  margin: 10px 0;
  background-color: transparent;
  margin: 0;
  padding: 22px 25px;
}
.accordion-item .accordion-button:focus {
  box-shadow: none;
}
.accordion-item .accordion-body {
  color: #666666;
  padding: 0 25px 22px 25px;
}

.accordion-item + .accordion-item {
  margin-top: 14px;
}

.accordion-button::after {
  content: "+";
  font-size: 18px;
  font-family: "Font Awesome 6 Pro";
  background-image: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 20px 6px rgba(204, 204, 204, 0.25);
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "\f068";
  background-color: #edfa13;
}

footer {
  padding-top: 60px;
}

.footer-item {
  margin-top: 20px;
  color: #fff;
}
.footer-item img {
  width: 160px;
}
.footer-item p {
  margin: 20px 0 10px 0;
}
.footer-item h4 {
  font-size: 28px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
}
.footer-item .nav-links li a {
  margin-top: 10px;
}
.footer-item .input-wrap {
  position: relative;
  overflow: hidden;
}
.footer-item .input-wrap input {
  font-size: 14px;
  padding: 12px 124px 12px 20px;
  width: 100%;
  outline: none;
  border: 0;
}
.footer-item .input-wrap .submit-btn {
  padding: 12px 14px;
  background-color: #edfa13;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: none;
  outline: none;
}

.sm-icons {
  font-size: 20px;
}
.sm-icons li + li {
  margin-left: 20px;
}

.copyright-content {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #707070;
  color: #fff;
}

.quick-view-modal {
  --bs-modal-width: 1180px;
}

.search-form {
  transition: transform 500ms ease, opacity 500ms ease, -webkit-transform 500ms ease;
}
.search-form .input-item-wrap {
  max-width: 750px;
  margin-inline: auto;
}
.search-form .input-item-wrap label {
  color: #0f0f0f;
  font-size: 22px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
}
.search-form .input-wrap {
  position: relative;
}
.search-form .input-wrap input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #0f0f0f;
  padding: 8px 50px 10px 0;
  outline: none;
}
.search-form .input-wrap button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  outline: none;
  font-size: 22px;
}

.close-btn {
  font-size: 20px;
  background-color: #0f0f0f;
  padding: 8px 12.5px;
  border-radius: 50%;
  color: #fff;
}

.offcanvas-body .nav-link,
.offcanvas-body .nav-link.active {
  color: #0f0f0f;
  padding: 10px 0;
}
.offcanvas-body .nav-item + .nav-item {
  margin: 10px 0 0 0;
}
.offcanvas-body h4 {
  color: #0f0f0f;
  font-size: 48px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
}
.offcanvas-body .contact-info {
  margin-top: 40px;
}
.offcanvas-body .contact-info > a {
  color: #0f0f0f;
  display: block;
  font-size: 38px;
  line-height: normal;
  font-family: "Bebas Neue", sans-serif;
}
.offcanvas-body .contact-info p {
  margin: 20px 0;
  max-width: 280px;
}
.offcanvas-body .contact-info .sm-icons a {
  color: #0f0f0f;
  margin-top: 20px;
}

.offcanvas-header {
  padding: 30px 40px;
}

.offcanvas-body {
  padding: 30px 40px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-height: 40vh;
  --bs-offcanvas-width: 600px;
}

.cart-offcanvas .offcanvas-body {
  padding: 0px 40px;
}
.cart-offcanvas h4 {
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  color: #0f0f0f;
}
.cart-offcanvas .cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.cart-offcanvas .cart-item .cart-img-wrap {
  width: 120px;
  padding: 10px;
  border: 1px solid #ededed;
  border-radius: 10px;
}
.cart-offcanvas .cart-item h5 {
  font-weight: 600;
  color: #0f0f0f;
  font-size: 18px;
}
.cart-offcanvas .cart-item .price {
  font-size: 16px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  margin: 6px 0 12px 0;
}
.cart-offcanvas .cart-item .price span {
  font-weight: 300;
}
.cart-offcanvas .cart-item .item-remove {
  color: #0f0f0f;
  margin-left: 20px;
  text-decoration: underline;
  font-size: 14px;
}
.cart-offcanvas .bottom-content span {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.cart-offcanvas .bottom-content .btn-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-offcanvas .bottom-content .btn-wrap a {
  margin: 0;
  width: 100%;
  text-align: center;
}

.empty-cart-content {
  padding: 20px 0;
}
.empty-cart-content i {
  font-size: 60px;
  color: #0f0f0f;
}
.empty-cart-content h3 {
  font-size: 30px;
  color: #0f0f0f;
  margin: 15px 0;
}

button:disabled,
button[disabled] {
  color: #fff;
  background-color: #40b884;
  opacity: 0.65;
  pointer-events: none;
}

.quantity-wrap {
  display: flex;
}
.quantity-wrap input {
  outline: none;
  border: none;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 30px;
  text-align: center;
}
.quantity-wrap .quantity-btn {
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid #ededed;
  padding: 8px 12px;
  color: #666666;
  font-size: 14px;
}
.quantity-wrap .quantity-minus {
  border-right: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.quantity-wrap .quantity-plus {
  border-left: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.dark-btn {
  background-color: #0f0f0f;
  color: #fff;
}
.dark-btn::before {
  background-color: #fff;
}
.dark-btn:hover {
  color: #0f0f0f;
  background-color: transparent;
}

.scroll-top {
  position: fixed;
  bottom: 0px;
  right: 34px;
  font-size: 18px;
  color: #fff;
  background-color: #0f0f0f;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  width: 52px;
  height: 52px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.94, 0, 0.05, 1.3);
}
.scroll-top:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0;
  transform: translateY(-2px);
}

.scroll-top-show {
  opacity: 1;
  bottom: 70px;
}

#sync1 .item {
  margin: 5px;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}

#sync2 .item {
  padding: 10px;
  margin: 10px 6px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  transition: all ease-in-out 0.3s;
}
#sync2 .current .item {
  transform: translateY(-4px);
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #d6d6d6;
}

#sync1.owl-theme {
  position: relative;
}

.rating-wrap {
  display: flex;
  gap: 2px;
  margin: 15px 0;
  align-items: center;
}
.rating-wrap i {
  color: #ffad16;
}
.rating-wrap .rating-text {
  color: #0f0f0f;
  margin-left: 6px;
}

.product-details-content .about-detail-wrap div + div::before {
  content: "|";
  margin: 0 16px;
  color: #b8b8b8;
}
.product-details-content .price {
  font-size: 32px;
  line-height: normal;
}
.product-details-content .price .is-available {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: #ffad16;
  text-decoration: none;
  margin-left: 10px;
}

.icon-circle {
  color: #666666;
  margin-left: 10px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
}
.icon-circle:hover {
  background-color: #0f0f0f;
  color: #fff;
}

.primary-bg {
  background-color: #edfa13;
}
.primary-bg:hover {
  color: #0f0f0f;
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.accepted-payments {
  width: 280px;
  margin: 30px 0;
  padding: 25px 30px 20px 30px;
  border: 1px solid #ededed;
  border-radius: 10px;
  position: relative;
}
.accepted-payments .payment-text {
  position: absolute;
  top: -12px;
  left: 12px;
  padding: 0 10px;
  font-size: 14px;
  background-color: #fff;
  color: #0f0f0f;
}

.about-product-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0f0f0f;
}
.about-product-item svg {
  width: 30px;
  height: 30px;
}
.about-product-item .about-product-text {
  font-size: 14px;
}
.about-product-item .sm-icons a {
  font-size: 16px;
  color: #0f0f0f;
}
.about-product-item .sm-icons li + li {
  margin-left: 15px;
}

.about-product-item {
  margin: 15px 0;
}

.about-product {
  border-top: 1px solid #ededed;
}

.tab-sec .nav-item {
  padding: 0 20px;
}
.tab-sec .nav-item .nav-link {
  font-size: 24px;
  color: #0f0f0f;
  background-color: transparent;
  border: none;
  padding: 10px 0;
}
.tab-sec .nav-item .nav-link.active {
  border-bottom: 1px solid #0f0f0f;
}

.other-small-head {
  font-size: 30px;
  line-height: normal;
  font-family: "Bebas Neue", sans-serif;
  color: #0f0f0f;
  margin-bottom: 10px;
}

.product-details-list {
  list-style: disc;
  padding-left: 20px;
}
.product-details-list li + li {
  margin-top: 5px;
}

table,
th,
td {
  border: 1px solid #ededed;
  border-collapse: collapse;
}

.product-details-table {
  width: 100%;
}
.product-details-table th {
  width: 30%;
  font-weight: 600;
  color: #151515;
}
.product-details-table th,
.product-details-table td {
  padding: 15px 20px;
}

.products-sec .form-select {
  width: unset;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  background-position: right 1.2rem center;
  padding: 10px 40px 10px 20px;
  color: #666666;
  font-size: 14px;
}

.search-form.search-form-2 .input-wrap input {
  border-bottom: none;
  background-color: #f9f9f9;
  padding: 15px 50px 15px 20px;
}
.search-form.search-form-2 .input-wrap button {
  font-size: 18px;
  right: 15px;
}

.filter-content {
  background-color: #f9f9f9;
  padding: 25px 30px;
  margin-top: 30px;
}
.filter-content .d-flex {
  flex-wrap: wrap;
  column-gap: 10px;
}
.filter-content a {
  display: block;
  color: #666666;
  margin-top: 15px;
}
.filter-content .btn-outline-dark {
  border-radius: 50px;
  padding: 6px 15px;
  font-size: 14px;
  border-color: #ededed;
}

.coupon-code {
  background-color: #ddeeff;
  padding: 15px 20px;
  color: #0f0f0f;
  border: 1px solid #cccccc;
  font-size: 14px;
}
.coupon-code a {
  color: #0f0f0f;
  text-decoration: underline;
}

.coupon-field-wrap {
  display: none;
  margin-top: 20px;
}
.coupon-field-wrap p {
  margin-bottom: 15px;
}
.coupon-field-wrap input {
  padding: 10px 20px;
  border: 1px solid #ededed;
  width: 100%;
  margin-bottom: 15px;
}

.checkout-form .form-label,
.contact-form-item .form-label {
  color: #0f0f0f;
}
.checkout-form .form-control,
.checkout-form .form-select,
.contact-form-item .form-control,
.contact-form-item .form-select {
  border-radius: 0;
  border: 0;
  padding: 14px 20px;
}

.checkout-table,
.checkout-table th,
.checkout-table td {
  border: 0;
}

.checkout-table {
  width: 100%;
}
.checkout-table th,
.checkout-table td {
  padding: 10px 0;
}
.checkout-table th {
  color: #0f0f0f;
  font-weight: 600;
}
.checkout-table .product-total,
.checkout-table tfoot td {
  text-align: right;
}

.blog-item {
  margin-top: 30px;
}
.blog-item .blog-img {
  border-radius: 10px;
  overflow: hidden;
}
.blog-item .blog-img:hover img {
  transform: scale(1.05);
}
.blog-item h5 {
  font-size: 40px;
  color: #0f0f0f;
  margin: 20px 0 10px 0;
  font-family: "Bebas Neue", sans-serif;
}
.blog-item .inner-content h6 {
  color: #0f0f0f;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  margin: 20px 0 10px;
}
.blog-item .inner-content-list {
  padding-left: 20px;
}
.blog-item .inner-content-list li {
  list-style: disc;
  margin-top: 10px;
}

.filters-wrap {
  display: flex;
  align-items: center;
  margin: 20px 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.filters-wrap i {
  color: #0f0f0f;
  margin-right: 4px;
}
.filters-wrap .filter {
  margin-right: 20px;
  color: #666666;
}

.underline-btn {
  color: #0f0f0f;
  text-transform: uppercase;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  font-weight: 600;
}
.underline-btn::before, .underline-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: currentColor;
  transition: transform 0.4s cubic-bezier(0.31, 0.29, 0.05, 0.96);
}
.underline-btn::before {
  left: 0;
}
.underline-btn::after {
  left: -100%;
  transition-delay: 0.3s;
}
.underline-btn:hover {
  color: #666666;
}
.underline-btn:hover::before, .underline-btn:hover::after {
  transform: translateX(100%);
  background-color: #666666;
}

.recent-post .recent-blog-item {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}
.recent-post .recent-blog-item .content-right a {
  font-weight: 600;
  margin-top: 5px;
  color: #0f0f0f;
}
.recent-post .recent-blog-item .content-right a:hover {
  color: rgba(15, 15, 15, 0.6235294118);
}
.recent-post .recent-img {
  width: 160px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
}
.recent-post .recent-img img {
  object-fit: cover;
  height: 100%;
}

.contact-item {
  padding: 40px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 22px 12px rgba(219, 219, 219, 0.25);
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.contact-item::before, .contact-item:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  width: 5px;
  height: 60%;
  background-color: #edfa13;
}
.contact-item::before {
  left: 0;
}
.contact-item:after {
  right: 0;
}
.contact-item:hover::after, .contact-item:hover::before {
  transform: translateY(-50%);
}
.contact-item i {
  font-size: 64px;
  color: #0f0f0f;
}
.contact-item h5 {
  font-size: 34px;
  color: #0f0f0f;
  font-family: "Bebas Neue", sans-serif;
  margin: 20px 0 10px;
}
.contact-item a {
  color: #666666;
}

.remove-item {
  position: absolute;
  top: 20px;
  right: 12px;
  color: #0f0f0f;
  border: 1px solid #ebebeb;
  padding: 8px 14px;
  border-radius: 50%;
}
.remove-item:hover {
  color: #0f0f0f;
  background-color: #ebebeb;
}

.wishlist-sec .empty-cart-content {
  text-align: center;
  max-width: 500px;
}

@media screen and (max-width: 1200px) {
  .commitment-item .commitment-content span {
    font-size: 48px;
    line-height: normal;
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    position: static;
  }
}
@media screen and (max-width: 993px) {
  h1,
  .common-head {
    font-size: 48px;
    line-height: 56px;
  }
  .commitment-item .commitment-content span {
    font-size: 36px;
  }
  .hamburger .offcanvas-body h4 {
    display: none;
  }
  .hamburger .offcanvas-body p {
    display: none;
  }
  .commitment-item:not(:nth-child(2)) {
    width: calc(33% - 35px);
  }
  .category-item h3 {
    font-size: 28px;
  }
  .contact-item i {
    font-size: 50px;
  }
  .contact-form-item iframe {
    min-height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .sp-tb {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sp-tb-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner-sec {
    padding: 140px 0 80px 0;
  }
  .commitment-item {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .commitment-item:not(:nth-child(2)) {
    width: 100%;
  }
  .category-item {
    display: block;
  }
}
@media screen and (max-width: 560px) {
  .hamburger-btn {
    margin-left: 20px;
  }
  h1,
  .common-head {
    font-size: 34px;
    line-height: normal;
  }
  .navbar-brand {
    width: 130px;
    margin-right: 10px;
  }
  .nav-right .icon-links li + li {
    margin-left: 15px;
  }
  .category-item,
  .product-item,
  .primary-btn {
    margin-top: 25px;
  }
  .accordion-item .accordion-button,
  h1 small,
  .common-head small {
    font-size: 16px;
  }
  .scroll-top-show {
    right: 16px;
    bottom: 30px;
  }
  .cart-offcanvas .bottom-content .btn-wrap {
    display: block;
  }
  .offcanvas-body,
  .cart-offcanvas .offcanvas-body {
    padding: 0px 15px;
  }
  .offcanvas-header {
    padding: 25px 15px;
  }
  .tab-sec .nav-item {
    padding: 0 10px;
  }
  .tab-sec .nav-item .nav-link {
    font-size: 20px;
  }
  .other-small-head {
    font-size: 26px;
  }
  .product-details-table th {
    width: 50%;
  }
  .blog-item h5 {
    font-size: 32px;
  }
  .blog-item .inner-content h6 {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1180px;
  }
}/*# sourceMappingURL=style.css.map */